.intro
  height: 100%
  vertical-align: middle
  position: absolute
  width: 100%
  text-align: center

  p
    position: absolute
    width: 100%

    bottom: 45vh
    color: #fff
    font-family: 'News Cycle', sans-serif
    color: rgb(75, 213, 238)
    font-size: 2.51em
    @include animation(fade-out 1.5s  5s forwards)

@media all and (orientation: landscape ) and (max-device-width: 1024px)
  .intro
    p
      bottom: 10vh

@include keyframes(fade-out)
  from
    opacity: 1
  to
    opacity: 0
    display: none

h1
  color: #e8ea50
  display: block
  bottom: 25vh
  position: absolute
  margin: 0
  font-size: 10em
  line-height: 1em
  width: 100%

@media all and (max-device-width: 600px)
  h1
    font-size: 8em
    bottom: 25vh
    .small
      font-size: .3em

@media all and (orientation: landscape)  and (max-device-width: 1024px)
  h1
    font-size: 5em
    bottom: 2vh
    .small
      font-size: .3em
.small
  opacity: 0
  font-size: .5em
  color: #e8ea50
  //letter-spacing: 2px
  //width: 100%
  //vertical-align: middle
  text-transform: lowercase
  text-align: center

.logo
  @include transform(scale(2.3))
  opacity: 0
  &.animate
    opacity: 1
    @include animation(scale-out 15s forwards)
    .small
      opacity: 0!important
      @include animation(fade-in 1.5s 4s forwards)

@include keyframes(scale-out)
  0%
    @include transform(scale(2.3))

  50%
    opacity: 1
  100%
    @include transform(scale(0))
    opacity: 0

@include keyframes(fade-in)
  from
      display: block!important
      opacity: 0

  to
    display: inline
    opacity: 1

.story
  font-size: 2em
  position: absolute
  width: 100%
  bottom: 1vh
  text-align: center
  color: #e8ea50
  opacity: 0
  font-family: 'News Cycle',sans-serif

  @include transform(perspective(300px) rotateX(25deg) translate(0, 100vh))

  &.animate
    @include animation(story-anim 120s forwards)

@include keyframes(story-anim)
  0%
    opacity: 1
    @include transform(perspective(300px) rotateX(25deg) translate(0, 100vh))
  55%
    opacity: 1
  62.5%
    opacity: 0
  100%
    opacity: 0
    @include transform(perspective(300px) rotateX(25deg) translate(0, -60vh))

@media all and (orientation: landscape)  and (max-device-width: 1024px)
  .story
    font-size: 1em
    top: 1vh
  @include keyframes(story-anim)
    0%
      opacity: 1
      @include transform(perspective(300px) rotateX(25deg) translate(0, 90vh))
    55%
      opacity: 1
    62.5%
      opacity: 0
    100%
      opacity: 0
      @include transform(perspective(300px) rotateX(25deg) translate(0, -100vh))
@media all and (orientation: landscape) and (max-device-width: 1024px)
  .story
    font-size: 1em
    top: 1vh
  @include keyframes(story-anim)
    0%
      opacity: 1
      @include transform(perspective(300px) rotateX(25deg) translate(0, 90vh))
    55%
      opacity: 1
    62.5%
      opacity: 0
    100%
      opacity: 0
      @include transform(perspective(300px) rotateX(25deg) translate(0, -100vh))
